<div class"col-xs-6">
<h2>Welcome to the Customer Confirmation Order Page</h2>
  <h3>Customer Name: <%= @customer.name %></h3>
  <h4>Cupcake Order: <%= @customer.order %></h4>
  <h4>Phone Number: <%= @customer.phone %></h4>
</div>

